html, body {
    /* background-image: url(../../assets/img/imagenfondo.jpg); */
    background-color: #F0950E !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    
   }

.titulo{
    color:black !important; 
}

.carrusel{
    margin-top: 3em;
    margin-bottom: 3em;
}

.nombrescarrusel{
    
    margin-top: 1em;
    margin-bottom: 1em;
}